@{
    ViewData["Title"] = "Home Page";
}

<table class="text-center">
    <tr>
        <th style="font-size: 25px;"> ServiceAI joue un rôle central dans le monde du travail</th>
        <th rowspan="2"><img src="~/lib/images/Vader-Enjoys-Some-Coffee-e1448051509497.webp" alt="Vader prend un caffé" height ="500;"/></th>
    </tr>
    <tr>
        <td>
            Chez ServiceAI, nous sommes convaincus du potentiel de la technologie <br />
            pour amèliorer le monde du travail. Notre objectif est de simplifier, <br />
            d'accélérer et de rendre intuitives les tâches que vous devez accomplir,<br />
            vous permettant ainsi de vous concentrer sur l'essentiel. Nous croyons en<br />
            un avenir où le travail devient plus fluide et efficace pour tous.
        </td>
    </tr>
    
</table>
